body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  background-color: #f4f4f4;
  color: #ffffff;
  background-image: url("https://img.wallpapic-br.com/i8743-925-739/medium/galaxia-nebulosa-pretos-espaco-sideral-imagem-de-fundo.jpg");
  background-size: cover;
  
  background-position: center;
  background-repeat: no-repeat;
}
.Search{
  background-color: #340e437d !important;
  box-shadow: -6px 4px 10px 5px #00000075 !important;
}
.app{
  max-width: 600px;
  margin: 0 auto ;
  background-color: #ffffff59;
  backdrop-filter: blur(10px);
  padding: 20px 30px;
  border-radius: 10px;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 10px;
}

p{
  margin: 10px 0;

}

input {
  box-sizing: border-box;
}
button{
  background-color: #333974;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 2px;
  opacity: .8;
  transition: .4s;
}
.complete{
  background-color: #5cb85c;
}

.remove{
   background-color: #d9534f;
}

button:hover{
  opacity: 1;
}
.listTodo{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}
.todo{
  background-color: #340e437d;
  box-shadow: -6px 4px 10px 5px #00000075;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-form{
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

select{
  appearance: none !important;
  padding: 15px 5px 3px ;
  margin-bottom: 20px;
  font-size: 20px;
  border: none;
  background-color: #333a747a;
  box-shadow: -2px 4px 7px 4px #333974a3;
  color: white;
  transition: all 1s ease;
  border-bottom: 3px solid #ffffff;
  border-radius: 5px;
  width: 100%;
}

.filter, .search{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.filter-options{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.filter-options div{
  flex: 1 1 0;
}
option{
  appearance: none;
  
  border: none !important;
  border-radius: 8px !important;
  background-color: #e0138b9c;
  
  color: rgb(241, 164, 239);
  font-family: monospace;
  font-weight: 500;

}
option:hover{
  appearance: none !important;
  background-color: #333974 !important;
}

input{
  border: none;
  width: 100%;
  font-size: 20px;
  padding: 15px 5px 3px ;
  border-radius: 5px;
  margin-bottom: 15px;
  border-bottom: 3px solid #ffffff;
  transition: all 1s ease;
  background-color: #333a747a;
  color: #fff;
  box-shadow: -2px 4px 7px 4px #333974a3;
}
div{
  position: relative;
}
input:focus{
  outline: 0 !important;
  transition: all 1s ease;
  border-bottom: 3px solid #e0138c;

}
select:focus{
  outline: 0 !important;
  transition: all 1s ease;
  border-bottom: 3px solid #e0138c;
}

.Label{
  position: absolute;
  top: -8px;
  left: 5px;
  color: #ffffff;
  background-color: #d812be55;
  backdrop-filter: blur(10px);
  width: 60px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid white;
}
.label2{
  position: absolute;
  top: -8px;
  left: 5px;
  color: #ffffff;
  background-color: #d812be55;
  backdrop-filter: blur(10px);
  width: 90px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid white;
}

.lista{
  background-color: #e0138c;
  color: white;
}
